---
layout: landing
modal-y: true
title: Jaswig at Work | Jaswig
label: At Work
permalink: /atWork/
video-title: 'Jaswig At Work'
video-img: 'background-image:url(/images/samscreenup.jpg)'
video-url: 'https://www.youtube.com/embed/TahTFKmn7g8?list=PLoYnXHDujWFznTSLcUAWXRzYkLMgEfai3?rel=0&amp;autoplay=1&amp;showinfo=0'
content-img: '/images/AtWork1.jpg'
content-title: 'Why Office'
content-inner: 'Sitting all day reduces our productivity and makes us sick. Jaswigs goal is to make people move more while working. We do that by implementing standing solutions. If you want standing desks that will be used by your employees, <a href="mailto:henri@jaswig.eu" target="_blank">drop us a line</a>. <br><br> If you want to get some insights on your own sitting habits, take this 2 minute <a href="/quiz/" target="_blank">sitting questionnaire</a>. <br><br> Also have a look on <a href="/testcube/" target="_blank">our page about the free Jaswig TestCube</a>. By setting up this test you can figure out if your company is ready for implementation. This way no major investments have to be done upfront.'
---

<div class="values testcube-testimonials">

  <div class="container">
    <h2>Testimonials</h2>

    <div class="testcube-testimonials__list">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="value">
            <span class="value-sign">Randstad</span>
            <h4 class="upper">Joris Trog</h4>
            <p>
              The Jaswig TestCube created a flexible and beautiful place to strech our legs and work upright from time to time. People did all sorts of things at the desks. They were truly multifunctional!
            </p>
          </div>
          <div class="value">
            <span class="value-sign">Ontex</span>
            <h4 class="upper">Tanja De Greve</h4>
            <p>
              We conducted a survey from our staff during the test. It was so interesting to see how people had perceived this test. They really liked the product. They valued its flexibility and loved to use it from time to time.
            </p>
          </div>
          <div class="value">
            <span class="value-sign">Digipolis</span>
            <h4 class="upper">Alain Linard</h4>
            <p>
              Jaswig allows us to create a flexible and more productive working environment, at a reduced cost! Their standing desks simply matched our employee philosophy!
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="order">
  <div class="container adj-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="order" class="large text-center">{{ page.order-title }}</h1>
      </div>
      <div class="col-xs-12 order-matrix-responsive">
        <div class="container">
          <div class="row">
          <div class="order-col">
        <div class="order-card first">
          <div class="order-card-image">
            <a href="{{ "/products/standup-nomad-2-0" | prepend: site.shopify_eu }}" ><img src="/images/StandUp2.0_Hadisa.jpg" alt="Home office standing desk"></a>
          </div>
          <div class="order-card-text">
           <h3>StandUp Nomad 2.0 <span class="attention">NEW</span></h3>
            <h3 class="order-card-price order-attention-adj" >€495</h3>
              <div class="order-options">
                <label class="left">Color Top</label><label class="right">Color Desk</label><br>
                 <input type="radio" name="all" id="t1" value="color_BL.jpg" style="background-color:#000000;" data-price="€515" data-url="/standup-nomad-2-0?variant=35654216529"/> <!-- Black Top -->
                 <input type="radio" name="all" id="t2" value="color_WH.jpg" style="background-color:#ffffff;" data-price="€515" data-url="/standup-nomad-2-0?variant=35830350225"/> <!-- White Top -->
                 <input type="radio" name="all" id="t3" value="color_MG.jpg" style="background-color:#d0e4ea;" data-price="€515" data-url="/standup-nomad-2-0?variant=35830350289"/> <!-- Mint Green Top -->
                 <input type="radio" name="all" id="t4" value="color_OB.jpg" style="background-color:#80909d;" data-price="€515" data-url="/standup-nomad-2-0?variant=35830350353"/><!-- Ocean Blue Top -->
                 <input type="radio" name="all" id="t5" value="color_DG.jpg" style="background-color:#808080;" data-price="€515" data-url="/standup-nomad-2-0?variant=35830350417"/><!-- Dark Grey Top -->
                 <input type="radio" name="all" id="f3" value="ONE_3430_1024x1024.jpg" class="right" style="background-color:#ffffff;" data-price="€575" data-url="/standup-nomad-2-0?variant=35830350481"/><!-- Full White -->
                 <input type="radio" name="all" id="f2" value="ONE_2721_1024x1024.jpg" class="right" style="background-color:#1c1b1a;" data-price="€575" data-url="/standup-nomad-2-0?variant=35830350545"/><!-- Full Black -->
                 <input checked="checked" type="radio" name="all" id="f1" value="StandUp2.0_Hadisa.jpg" class="right" style="background-color:#e2d2c0;" data-price="€495" data-url="/standup-nomad-2-0?variant=35831485009"/><!-- Full Natural --><br>
              </div>
            <p class="equalize">New design with slightly larger desktop and better cable management. Same Beauty!
            <br><br></p>
            <p class="strong">
              Height ranges: <span >93 – 122 cm</span><br>
              Desktop size: <span >55 x 83 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/standup-nomad-2-0" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
            <div class="order-col">
              <div class="order-card">
                <div class="order-card-image">
                  <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" ><img src="/images/standup/standup-nomad.jpg" alt="Design stand up desk"></a>
                </div>
                <div class="order-card-text">
                  <h3 class="height-ad-ew">StandUp Nomad</h3>
                  <h3 class="order-card-price" >€450</h3>
                  <div class="order-options">
                    <label class="left">Color Top</label><label class="right">Color Desk</label><br>
                    <input type="radio" name="all2" id="t12" value="ONE_0798_1024x1024.jpg" style="background-color:#1c1b1a;" data-price="€470" data-url="/standup-nomad?variant=34653510545"/>
                    <input type="radio" name="all2" id="t22" value="ONE_0796_1024x1024.jpg" style="background-color:#7395b9;" data-price="€470" data-url="/standup-nomad?variant=34653461393"/>
                    <input type="radio" name="all2" id="t32" value="ONE_0797_1024x1024.jpg" style="background-color:#D0021B;" data-price="€470" data-url="/standup-nomad?variant=34653336145"/>
                    <input type="radio" name="all2" id="t42" value="ONE_0793_1024x1024.jpg" style="background-color:#80909d;" data-price="€470" data-url="/standup-nomad?variant=29208845521"/>
                    <input type="radio" name="all2" id="t52" value="ONE_0795_1024x1024.jpg" style="background-color:#d0e4ea;" data-price="€470" data-url="/standup-nomad?variant=29208895697"/>
                    <input type="radio" name="all2" id="f32" value="ONE_3430_1024x1024.jpg" class="right" style="background-color:#fff;" data-price="€600" data-url="/standup-nomad?variant=34654137425"/>
                    <input type="radio" name="all2" id="f22" value="ONE_2721_1024x1024.jpg" class="right" style="background-color:#1c1b1a;" data-price="€600" data-url="/standup-nomad?variant=34654161425"/>
                    <input checked="checked" type="radio" name="all2" id="f12" value="standup/standup-nomad.jpg" class="right" style="background-color:#e2d2c0;" data-price="€450" data-url="/standup-nomad?variant=18202146308"/><br>
                  </div>
                  <p  class="equalize">The compact desktop size allows you to take it with you: perfect for daily home activities.
                  <br><br><span id="del2" class="attention visibility-non">4 week delivery time</span></p>
                  <p class="strong">
                    Height ranges: <span >93 – 122 cm</span><br>
                    Desktop size: <span >50 x 65 cm</span>
                  </p><div class="center-it padd-bot">
                  <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
                </div>
                </div>
              </div>
            </div>
            <div class="order-col">
              <div class="order-card">
                <div class="order-card-image">
                  <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" ><img src="/images/screen-up/screen-up.jpg" alt="standing desk neck pain"></a>
                </div>
                <div class="order-card-text">
                  <h3 class="height-ad-ew">ScreenUp</h3>
                  <h3 class="order-card-price" >€55</h3>
                  {% include components/order-options-invisible.html %}
                  <p class="equalize">An easyly mounted add-on for the StandUp made for your computer screen and other accessories.</p>
                  <p class="strong">
                    Surface: <span>40 x 40 cm </span><br>
                    Add-on's height: <span>22cm</span>
                  </p><div class="center-it padd-bot">
                  <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
                </div>
                </div>
              </div>
            </div>
            <div class="order-col">
              <div class="order-card last">
                <div class="order-card-image">
                  <a href="http://www.jaswig.be/meetup/" ><img src="/images/MeetUp1.jpg" alt="standing desk neck pain"></a>
                </div>
                <div class="order-card-text">
                  <h3 class="height-ad-ew">MeetUp</h3>
                  <h3 class="order-card-price" >&nbsp;</h3>
                    {% include components/order-options-invisible.html %}
                  <p class="equalize">The most beautiful product to make your meetings more productive, efficient and creative!</p>
                  <p class="strong order-margin-reduce">
                    Dimensions: <span>210 x 110 cm</span><br>
                    Height: <span> 111 cm</span><br>
                    Ideal for <span> 6 to 8 people</span>
                  </p><div class="center-it padd-bot">
                  <a href="mailto:henri@jaswig.eu" class="more-info hero__cta cta btn" title="drop us a mail to ask for more info and pricing">Contact Us</a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="{{ "/js/order-img.js" | prepend: site.baseurl }}" defer></script>
    </div>
  </div>
</div>
