---
layout: default
description: Think about your day and check out how many hours you sit a day!
cover: "/images/jaswigmeetsecurex_banner_V2-01.png"
published: true
label: jaswig-meets-securex
navsm: true
modal-y: true
---

<div class="post">
  {% if page.cover %}
    <div class="post-background" style="background-image: url('{{ page.cover }}');"></div>
  {% endif %}
  <div {% if page.cover %}style="padding-top: 310px;"{% endif %}>
    <div class="remove-mar row padding-bottom">
      <div class="remove-padd-l-r col-xs-12">


      <div class="subhero">
        <div class="container">
          <div class="row">
            <div class="subhero-image col-xs-12 col-md-5">
              <img src="/images/HVDV.jpg" alt="StandUp standing desk from Jaswig">
              <div class="subhero-text col-xs-12 col-md-7">
                <h2>Winner HVDV Awards</h2>
                <a href="http://henryvandevelde.be/winnaar/public-design-award/standup-nomad" class="arrow">Check it out!</a>
              </div>
            </div>
            <div class="remove-padd-t subhero-text col-xs-12 col-md-7">
              <div class="testcube-promo__text-right text-left">
                <h2>Uitleg over groepsaankoop</h2>
                <p class="white-text">
                </p><ul class="white-text">
                    Beste Securex medewerker, <br>
                    Je kent ons alvast nog niet. Wij zijn een jonge startup die inzet op mooi ergonomisch meubilair. Zo een 1,5 jaar geleden hebben we de StandUp gedesigned met als doel mensen meer dynamisch te laten werken. <br>
                    Securex was als bedrijf een van onze eerste klanten en diept nu onze samenwerking verder uit met deze groepsaankoop.<br>
                    De garantie op volume maakt het mogelijk om als startup toch een korting te geven. <br>
                    Hieronder alvast een samenvatting over onze samenwerking:<br><br>
                    <li>Gebruik de kortingscode <strong>SecurexRocks!</strong> in in onze webshop voor <strong>10% korting</strong></li>
                    <li>Duurtijd = 2 maand (van 13/03 tot 13/05)</li>
                    <li>Mogelijkheid tot betaling met <strong>papieren ecocheques</strong> mail naar henri@jaswig.eu</li>
                    <li>Andere betalingsmogelijkheden: <strong>PayPal, Visa, MasterCard, Bancontact</strong></li>
                  </ul>
                <p></p>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-12">
        <ul class="list list-left">
          <li><a href="https://www.onepercentfortheplanet.org/"><img class="wd-s" src="/images/Member_VerticalLogo_Knockout.png" alt="1% winner"></a></li>
          <li><a href="http://www.henryvandevelde.be/winnaar/public-design-award/standup-nomad"><img class="wd-ew" src="/images/HVDV16R_WINNER16.png" alt="1% winner"></a></li>
          <li><a href="http://be.benefits-rewards.sodexo.com/nl/bedrijven/eco-pass"><img class="wd-s" src="/images/Member_VerticalLogo_Knockout.png" alt="1% winner"></a></li>
          </ul>
      </div>
          </div>
        </div>
      </div>

      {% include components/why-jaswig-stand2.html %}

      <div class="testimonials">
        <div class="container">
    <div class="why-jaswig-text row">
      <div class="col-xs-12 col-md-6">

        <div class="why-jaswig__video">
  				<div class="promo-player">
  					<button type="button" class="play-video" data-video="https://www.youtube.com/embed/3EEQb5EbbxI?rel=0&amp;autoplay=1&amp;showinfo=0">
  						<img src="/images/play.svg" alt="play button for video">
  					</button>
  				</div>
        </div>

      </div>
      <div class="col-xs-12 col-xs-offset-0 col-md-5 col-md-offset-1">
      <div class="testcube-promo__text-right">
        <h2>Waarom Jaswig</h2>
        <p>
          Jaswig is een <strong>startend design bedrijf</strong> die een product maakte uit noodzaak. Jaswig staat voor:
          </p><ul>
            <li><strong>Duurzaamheid</strong></li>
            <li><strong>Gezondheid</strong></li>
            <li><strong>Scandinavisch Design</strong></li>
          </ul>
        <p></p>
      </div>
    </div>
    </div>
  </div>
      </div>

      <div class="order">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h2 id="order" class="order-title alignc fix_padding_h2">Products</h2><br>
              <p class="go_to_eu store_go_to">Vergeet zeker de kortingscode <font color="red">SecurexRocks!</font> niet te gebruiken in de store wanneer je doorklikt op MORE INFO</a></p>
            </div>
            <div class="col-xs-12">
              <div class="container">
                <div class="row">
                  <div class="order-col">
                    <div class="order-card first">
                      <div class="order-card-image">
                        <a href="{{ "/products/standup-nomad?variant=18202146436" | prepend: site.shopify_eu }}" ><img src="/images/standup/standup-nomad-extra-wide.jpg" alt="Home office standing desk"></a>
                      </div>
                      <div class="order-card-text heighter">
                        <h3 class="height-ad-ew">StandUp Nomad <span class="attention">extra wide</span></h3>
                        <h3 class="order-card-price" ><del>€495</del>  €445</h3>
                        <p class="equalize">De extra wide versie geeft je net dat tikkeltje meer plaats.
                        <br><br><br>Gekleurd bureaublad mogelijk  <span class="attention">Nieuw!</span></p>
                        <p class="strong">
                          Hoogte bereik: <span >93 – 122 cm</span><br>
                          Afmeting bureaublad: <span >55 x 80 cm</span>
                        </p><div class="center-it">
                        <a href="{{ "/products/standup-nomad?variant=18202146436" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >More Info</a>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-col">
                    <div class="order-card">
                      <div class="order-card-image">
                        <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" ><img src="/images/standup/standup-nomad.jpg" alt="Design stand up desk"></a>
                      </div>
                      <div class="order-card-text heighter">
                        <h3 class="height-ad-ew">StandUp Nomad</h3>
                        <h3 class="order-card-price" ><del>€450</del>  €405</h3>
                        <p class="equalize">Met deze compacte bureau tover je elke plek om tot een efficiente werkplek
                        <br><br>Gekleurd bureaublad mogelijk  <span class="attention">Nieuw!</span></p>
                        <p class="strong">
                          Hoogte bereik: <span >93 – 122 cm</span><br>
                          Afmeting bureaublad: <span >50 x 65 cm</span>
                        </p><div class="center-it">
                        <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >More Info</a>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-col">
                    <div class="order-card">
                      <div class="order-card-image">
                        <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" ><img src="/images/screen-up/screen-up.jpg" alt="standing desk neck pain"></a>
                      </div>
                      <div class="order-card-text heighter">
                        <h3 class="height-ad-ew">ScreenUp</h3>
                        <h3 class="order-card-price" ><del>€75</del>  €67</h3>
                        <p class="equalize">Een makkelijk te monteren opzetstuk voor nog een betere ergonomische set up.</p>
                        <p class="strong">
                          Oppervlakte: <span>40 x 40 cm </span><br>
                          Hoogte opzetstuk: <span>22cm</span><br><br>
                        </p><div class="center-it">
                        <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >More Info</a>
                      </div>
                      </div>
                    </div>
                  </div>

                  <div class="order-col">
                    <div class="order-card last">
                      <div class="order-card-image">
                        <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" ><img src="/images/standup/my-first-standup.jpg" alt="Children standing desk"></a>
                      </div>
                      <div class="order-card-text heighter">
                        <h3 class="height-ad-ew">My First StandUp</h3>
                        <h3 class="order-card-price" ><del>€345</del>  €310</h3>
                        <p class="equalize">Laat je kind de vreiheid te bewegen tijdens het huiswerk! Nadat je kind deze desk is ontgroeid krijg je € 100 korting op een StandUp nomad.</p>
                        <p class="strong">
                          Hoogte bereik: <span >69 - 89 cm</span><br>
                          Afmeting bureaublad: <span >45 x 58 cm</span>
                        </p><div class="center-it">
                        <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >More Info</a>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="values meetup__gallery">

        <div class="container">
          <div class="row">
            <h2 id="order" class="order-title alignc fix_padding_h2">Testimonials</h2>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
              <a href="https://www.youtube.com/watch?v=h8wVHepjris" ><img src="/images/ajuinleiI-01.png" alt="Testimonial Jaswig at coworking"></a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
              <a href="https://www.youtube.com/watch?v=51IXXN3sbzM" ><img src="/images/what we stand for-01.png" alt="Jaswig what we stand for"></a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
              <a href="https://www.youtube.com/watch?v=TahTFKmn7g8" ><img src="/images/digipolis-01.png" alt="Testimonial Jaswig Company"></a>
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>
