<div class="why-jaswig-desk" style="width: 100%">
  <div id="scroll-desk-container">
    <div id="scroll-desk">
      <img src="/images/desk_legs.png" height="300" alt="desk legs" id="desk-legs">
      <img src="/images/desk_top.png" height="337" alt="desk legs" id="desk-top">
    </div>

    <div id="scroll-desk-control">
      <div id="scroll-desk-control-wrapper">
        <a id="scroll-desk-up" class="upper" href="javascript:void(0);">Up</a>
        <a id="scroll-desk-down" class="upper" href="javascript:void(0);">Down</a>
      </div>
    </div>
  </div>
</div>
