<footer>
  <div class="container">
    <div class="footer-table">
      <div class="footer-row">
        <div class="brand">
          <a class="site-title" href="{{ site.baseurl }}/">
            <img src="/images/jaswig-logo-white.svg" alt="">
          </a>
        </div>
        <div class="flanders">
          <div class="flanders-inner">
            <img src="/images/flanders-logo.png" alt="">
          </div>
        </div>
        <div class="terms">
          <ul class="list list-left">
            <li><a href="/blog/2016/05/25/FAQs">FAQ</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/terms">Terms &amp; conditions</a></li>
            <li><a href="/warranty">Warranty policy</a></li>
          </ul>
        </div>
        <div class="social-media">
          <ul class="list list-left">
            <li><a href="https://www.facebook.com/jaswighq"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/jaswighq"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/jaswighq"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.pinterest.com/jaswighq"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC2CWqP7IMVS6awIUWDMf9jg"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
