<footer>
  <div class="container">
    <div class="footer-table">
      <div class="footer-row">
        <div class="brand">
          <img src="/images/jaswig-logo-white.svg" alt="">
        </div>
        <div class="terms">
          <ul class="list list-left">
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Terms &amp; conditions</a></li>
            <li><a href="#">Warranty policy</a></li>
          </ul>
        </div>
        <div class="social-media">
          <ul class="list list-left">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
