<footer class="footer">
  <!-- Start of Active campaign Analytics Code -->
  <script type="text/javascript">
	var trackcmp_email = '';
	var trackcmp = document.createElement("script");
	trackcmp.async = true;
	trackcmp.type = 'text/javascript';
	trackcmp.src = '//trackcmp.net/visit?actid=798866951&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
	var trackcmp_s = document.getElementsByTagName("script");
	if (trackcmp_s.length) {
		trackcmp_s[0].parentNode.appendChild(trackcmp);
	} else {
		var trackcmp_h = document.getElementsByTagName("head");
		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
	}
</script>
<!-- End of Active campaign Analytics Code -->
  <div class="container">
    <div class="footer-table">
      <div class="footer-row">
        <div class="brand">
          <a class="site-title" href="{{ site.baseurl }}/">
            <img src="/images/jaswig-logo-white.svg" alt="Logo Jaswig">
          </a>
        </div>
        <div class="terms">
          <ul class="foo-list list list-left">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/dealers">Dealers</a></li>
            <li><a href="http://info.jaswig.be/jobs">Jobs</a></li>
          </ul>
        </div>
        <div class="footer-right">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <div class="subscribe-form">
            <h3 class="subscribe-form__title">Subscribe to our newsletter</h3>
            <div class="_form_5"></div><script src="https://jaswig.activehosted.com/f/embed.php?id=5" type="text/javascript" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div><a href="http://www.onepercentfortheplanet.org/who-we-are/members/record/0010G00001xIfXTQA0" target="_blank"><img class="opep_logo" src="/images/Member_HorizontalLogo_Knockout.png"></a></div>
    <div><a href="http://henryvandevelde.be/winnaar/public-design-award/standup-nomad" target="_blank"><img class="opep_logo sec-foo-logo" src="/images/HVDV16R_WINNER16.png"></a></div>
  </div>
  <div class="social-media">
    <ul class="list list-left">
      <li><a href="https://www.facebook.com/jaswighq"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/jaswighq"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://twitter.com/jaswighq"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.pinterest.com/jaswighq"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UCTWYG92K8gpa2ynEU8UTGGA"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
</footer>
  {% if page.want_bootstrap %}<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>{% endif %}
