<header class="container">
  <div class="header-table">
    <div class="header-row">
      <div class="brand">
        <a class="site-title" href="{{ site.baseurl }}/">
          {% if page.url == '/' %}
            <img src="/images/jaswig-logo-white-small.svg" alt="">
          {% else %}
            <img src="/images/jaswig-logo-small.svg" alt="">
          {% endif %}
        </a>
      </div>
      <nav>
        <ul class="horizontal">
          {% assign pages = site.pages | sort: "position"  %}
          {% for my_page in pages %}
            {% if my_page.title and my_page.position %}
            <li class="nav-item">
              {% if page.url == my_page.url %}
                <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
              {% else %}
                <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
              {% endif %}
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="horizontal">
          <li class="nav-hamburger">
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle"><i class="fa fa-bars"></i></label>
            <div class="nav-mobile">
              <div class="nav-mobile-inner">
                <ul>
                  {% assign pages = site.pages | sort: "position"  %}
                  {% for my_page in pages %}
                    {% if my_page.title and my_page.position %}
                    <li>
                      {% if page.url == my_page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
                      {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
                      {% endif %}
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
