<header class="container" style="{% if page.url == '/' %}padding-top: 0px;{% endif %}">
  <div class="header-table">
    <div class="header-row">
      <div class="brand">
        <a class="site-title" href="{{ site.baseurl }}/">
          {% if page.url == '/' %}
            <img src="/images/jaswig-logo-small.svg" alt="Logo Jaswig">
          {% else %}
            <img src="/images/jaswig-logo-small.svg" alt="Logo Jaswig Small">
          {% endif %}
        </a>
      </div>
      <nav class="navigation">
        <ul class="horizontal">
          {% assign pages = site.pages | sort: "position"  %}
          {% for my_page in pages %}
           {% unless page.navsm %}
            {% if my_page.title and my_page.position %}
            <li class="navigation__item nav-item">

              {% if my_page.submenu %}
                <span class="{% if page.url == my_page.url %} active {% else %} {% if page.prod_qos %} active {% endif %} {% endif %}" >{{ my_page.label }}</span>

                <ul class="navigation__submenu">
                {% for item in my_page.submenu %}
                  <li class="navigation__submenu-item">
                    <a href="{{ item.link }}">{{ item.text }}</a>
                  </li>
                {% endfor %}
                </ul>

              {% else %}
                <a
                  class="{% if page.url == my_page.url %} active {% endif %}"
                  href="{{ my_page.url | prepend: site.baseurl }}">
                  {{ my_page.label }}
                </a>
              {% endif %}

            </li>
            {% endif %}
            {% endunless %}
            {% if page.navsm %}
            {% if my_page.title and my_page.position %}
            {% if my_page.label contains 'Story' or my_page.label contains 'Blog' or my_page.label contains 'Contact' %}
            <li class="navigation__item nav-item">
              <a
                class="{% if page.url == my_page.url %} active {% endif %}"
                href="{{ my_page.url | prepend: site.baseurl }}">
                {{ my_page.label }}
              </a>
              </li>
              {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="horizontal">
          <li>
            <a href="{{'/cart' | prepend: site.shopify_eu}}" class="header-card"><i class="increase-fs fa fa-shopping-cart"></i></a>
          </li>
          <li class="nav-hamburger">
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle"><i class="increase-fs fa fa-bars"></i></label>
            <div class="nav-mobile">
              <div class="nav-mobile-inner">
                <ul>
                  {% assign pages = site.pages | sort: "position"  %}
                  {% for my_page in pages %}
                  {% unless page.navsm %}
                    {% if my_page.title and my_page.position %}
                    <li>
                      {% if page.url == my_page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
                      {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
                      {% endif %}
                    </li>
                    {% endif %}
                    {% endunless %}
                    {% if page.navsm %}
                    {% if my_page.label contains 'Story' or my_page.label contains 'Blog' or my_page.label contains 'Contact' %}
                    {% if my_page.title and my_page.position %}
                    <li>
                      {% if page.url == my_page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
                      {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.label }}</a>
                      {% endif %}
                    </li>
                      {% endif %}
                    {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</header>
