<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
   <!-- Search engines -->
  {% if page.description %}<meta name="description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="Beautifully designed standing desk that is locally produced with high quality wood. This standup desk is perfect for at home or in your office">
  {% endif %}
  
  <!-- Google Plus -->
  <!-- Update your html tag to include the itemscope and itemtype attributes. -->
  <!-- html itemscope itemtype="http://schema.org/{CONTENT_TYPE}" -->
  {% if page.title %}<meta itemprop="name" content="{{ page.title }}">
   {% else %}
   <meta itemprop="name" content="A flexible standing desk for your home or office">
  {% endif %}
  {% if page.description %}<meta itemprop="description" content="{{ page.description }}">
   {% else %}
   <meta itemprop="description" content="Beautifully designed standing desk that is locally produced with high quality wood. This standup desk is perfect for at home or in your office">
  {% endif %}
  {% if page.thumbnail %}<meta itemprop="image" content="{{ page.thumbnail | prepend: site.url }}">
   {% else %}
   <meta itemprop="image" content="{{ "/images/StandUp%20Nomad-square.jpg" | prepend: site.url }}">
  {% endif %}
  
   <!-- Twitter -->
   <meta name="twitter:card" content="Sitting long hours is not healthy. We stand for quality of life and the environment by making design products locally. #liveactively">
   <meta name="twitter:site" content="@jaswighq">
   {% if page.description %}<meta name="twitter:title" content="{{ page.title }}">
   {% else %}
    <meta name="twitter:title" content="A flexible standing desk for your home or office">
   {% endif %}
   {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">
   {% else %}
   <meta name="twitter:description" content="Beautifully designed standing desk that is locally produced with high quality wood. This standup desk is perfect for at home or in your office">
   {% endif %}
    <meta name="twitter:creator" content="@jaswighq">
   {% if page.description %}<meta name="twitter:image:src" content="{{ page.thumbnail | prepend: site.url }}">
   {% else %}
   <meta name="twitter:image:src" content="{{ "/images/StandUp%20Nomad-square.jpg" | prepend: site.url }}">
   {% endif %}
   
    <!-- Open Graph General (Facebook & Pinterest) -->
    {% if page.description %}<meta property="og:url" content="{{ page.url | prepend: site.url}}">
    {% else %}
    <meta property="og:url" content="http://www.jaswig.com">
    {% endif %}
    {% if page.description %}<meta property="og:title" content="{{ page.title }}">
    {% else %}
    <meta property="og:title" content="Furniture that aims to increase your happiness!">
    {% endif %}
    <meta property="og:type" content="website">
    {% if page.description %}<meta property="og:description" content="{{ page.description }}">
    {% else %}
     <meta property="og:description" content="A flexible standing desk for your home or office.">
    {% endif %}
    <meta property="og:site_name" content="Jaswig StandUp desks">
    {% if page.description %}<meta property="og:image" content="{{ page.thumbnail | prepend: site.url }}">
    {% else %}
     <meta property="og:image" content="{{ "/images/StandUp%20Nomad%20Coffee.jpeg" | prepend: site.url }}">
    {% endif %}
    
    
  <link rel="shortcut icon" href="favicon.png">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
  <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</head>
