<header class="container">
  <div class="header-table">
    <div class="header-row">
      <div class="brand">
        <a class="site-title" href="{{ site.baseurl }}/">
          {% if page.url == '/' %}
            <img src="/images/jaswig-logo-white-small.svg" alt="">
          {% else %}
            <img src="/images/jaswig-logo-small.svg" alt="">
          {% endif %}
        </a>
      </div>
      <nav>
        <ul>
          {% assign pages = site.pages | sort: "position"  %}
          {% for my_page in pages %}
            {% if my_page.title %}
            <li>
              {% if page.url == my_page.url %}
                <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% else %}
                <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            </li>
            {% endif %}
          {% endfor %}
          <li>
            {% include region_selector.html %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
