.cookies-warning {
  & {
    display: none;
    position: fixed;
    background-color: rgba($color-dark, 0.75);
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  &--show {
    display: block;
  }

  &__inner {
    padding: 10px 15px;
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    text-align: center;
    vertical-align: middle;

    &:before,
    &:after {
      display: none;
    }
  }

  &__text {
    display: block;
    text-align: center;
    color: #fff;
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
  }

  &__accept {
    & {
      display: inline-block;
      border: 0;
      padding: 0;
      margin: 0;
      background-color: rgba(#fff, 0.85);
      padding: 5px 15px;
      color: $color-dark;
      border-radius: 5px;
      font-size: 14px;
      line-height: normal;
      cursor: pointer;
      outline: none;
    }

    &:hover {
      background-color: #fff;
    }

  }
}

@media (min-width: $screen-md-min) {
  .cookies-warning {
    &__text {
      display: inline-block;
      margin: 0;
    }

    &__accept {
      margin: 0 0 0 10px;
    }
  }
}
