/* Footer */
.footer {
  background-color: $color-primary;
  padding: 20px 0;
  color: white;

  .footer-table {
    @extend %table;
  }

  .footer-row {
    @extend %table-row;
  }

  .brand {
    text-align: center;
    padding-bottom: 20px;

    .site-title {
      display: inline-block;
    }

    img {
      height: 30px;
    }
  }

  .flanders {
    text-align: center;
    padding: 0 30px;
  }

  .flanders-inner {
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    padding: 0 20px;
    line-height: 0;

    img {
      height: 45px;
    }
  }

  .terms {
    text-align: center;

    .list.list-left li {
      float: none;
      margin-right: 0;
    }

    .list.list-left li a {
      display: block;
      color: rgba(255,255,255,.7);
      font-family: $font-secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      font-size: 13px;
      font-weight: 500;
      padding-bottom: 10px;

      &:hover {
        color: rgba(255,255,255,1);
      }
    }
  }

  .social-media {
    text-align: center;

    a {
      color: white;
      font-size: 23px;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer-right {
    position: relative;
  }

}

//1% logo
.opep_logo{
   float: right;
   display: block;
   width: 120px;
   margin: 0 auto;
  }

  @media (min-width: 726px) and (max-width: 991px) {
    .opep_logo{
    margin-right: 130px;
    }
  }

  @media (min-width: 600px) and (max-width: 725px) {
    .opep_logo{
    margin-right: 14%;
    }
  }

  @media (min-width: 492px) and (max-width: 599px) {
    .opep_logo{
    margin-right: 8%;
    }
  }

.sec-foo-logo {
  float: right;
  width: 120px;
  margin-right: 0px;
}


@media (min-width: $screen-md-min) {
  .footer {
    .brand,
    .terms,
    .footer-right,
    .footer-left,
    .flanders {
      display: table-cell;
      vertical-align: bottom;
    }

    .brand {
      text-align: left;
      padding-bottom: 0;
    }

    .terms {
      .list.list-left li {
        float: left;

        &:not(:last-child) {
          margin-right: 30px;
        }
      }

      .list.list-left li a {
        padding-bottom: 0;
      }
    }

    .social-media {
      text-align: right;
    }
  }


  .foo-list {
    line-height: 1px !important;
  }

  .sec-foo-logo {
    float: right;
    margin-top: 5px;
  }
}



// IE fix
@media all and (-ms-high-contrast:none) {
  .footer .brand .site-title img {
    width: 124px;
  }
}
