header {
  padding-top: 10px;
}

header .header-table {
  @extend %table;
}

header .header-row {
  @extend %table-row;
}

header .brand {
  @extend %table-cell;
}

header .brand img {
  width: 145px;
  min-width: 30px;
  margin-left: -12px;
}

header nav {
  @extend %table-cell;
  text-align: right;
}

header nav .horizontal {
  display: inline-block;
  -webkit-padding-start: 0px;
	padding: 0;
}

header nav .horizontal li {
  list-style-type: none;
  float: left;
}

header nav .horizontal .nav-item {
  display: none;
}

header nav .horizontal li a,
header nav .horizontal li span {
  transition: 0.3s all;
  display: block;
  font-family: $font-secondary;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px 20px;
  margin-right: 15px;
  color: $color-dark;
  background-color: rgba(255,255,255,.75);

  &:hover {
    color: $color-dark;
    //background-color: $color-dark !important;
  }

  &.active {
    border-radius: 0px;
    border-bottom: 2px solid;
  }
}

header nav .horizontal li span {
  cursor: default;
}

header #regionSelector {
  margin-top: 6px;
  width: 39px;
  cursor: pointer;
  margin-right: 15px;
}

header .nav-hamburger {
  display: inline-block;
}

header .nav-hamburger label {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 20px;
  color: $color-dark;
  background-color: rgba(255,255,255,.75);
}

header .nav-mobile {
  display: none;
}

header input[type=checkbox]:checked ~ .nav-mobile {
  z-index: 4;
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  margin: 0px auto;
  padding: 50px;
  text-align: center;
}

header .nav-mobile-inner {
  display: inline-block;
  max-width: 300px;
  min-width: 250px;
  background-color: rgba(white, 0.9);
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0px 35px 80px 14px rgba(151,139,125,0.15);
}

header .nav-mobile-inner ul {
  -webkit-padding-start: 0px;
}

header .nav-mobile-inner ul li {
  list-style-type: none;
  display: block;
  width: 100%;
  padding-bottom: 10px;
}

header .nav-mobile-inner ul li a {
  margin-right: 0;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  &.active {
    color: white;
    background-color: #1c1b1a;
  }
}

header input[type=checkbox]{
  display: none;
}

@media (min-width: $screen-md-min) {
  header {
    padding-top: 30px;
  }

  header nav .horizontal .nav-item {
    display: inline-block;
  }

  header #regionSelector {
    margin-right: 0px;
    margin-bottom: -3px;
  }

  header .nav-hamburger {
  display: none;
  }

  .mobile-nav {
    display: none !important;
  }
}

// IE fix
@media all and (-ms-high-contrast:none) {
  header .brand .site-title img {
    width: 100%;
  }
}

.we-hiring {
  display: block;
  font-family: "Brandon Grotesque";
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: #a1a49b;
  color: #fff;
  font-size: 14px;
  text-align: center;
  z-index: 10000000000000;
  position: relative;
  -webkit-animation: down 1s;
  animation: down 1s;
}

@-webkit-keyframes down{
  0%   {top: -20px;}
  100% {top: 0px;}
}

@keyframes down{
  0%   {top: -20px;}
  100% {top: 0px;}
}

#hire-close {
  font-size: 25px;
  margin-top: -18px;
  margin-right: -15px;
}

/* popover */

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 276px;
    padding: 1px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem
}

.popover .arrow {
    position: absolute;
    display: block;
    width: 10px;
    height: 5px
}

.popover .arrow::after,.popover .arrow::before {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid
}

.popover .arrow::before {
    content: "";
    border-width: 11px
}

.popover .arrow::after {
    content: "";
    border-width: 11px
}

.popover.bs-popover-auto[x-placement^=top],.popover.bs-popover-top {
    margin-bottom: 10px
}

.popover.bs-popover-auto[x-placement^=top] .arrow,.popover.bs-popover-top .arrow {
    bottom: 0
}

.popover.bs-popover-auto[x-placement^=top] .arrow::after,.popover.bs-popover-auto[x-placement^=top] .arrow::before,.popover.bs-popover-top .arrow::after,.popover.bs-popover-top .arrow::before {
    border-bottom-width: 0
}

.popover.bs-popover-auto[x-placement^=top] .arrow::before,.popover.bs-popover-top .arrow::before {
    bottom: -11px;
    margin-left: -6px;
    border-top-color: rgba(0,0,0,.25)
}

.popover.bs-popover-auto[x-placement^=top] .arrow::after,.popover.bs-popover-top .arrow::after {
    bottom: -10px;
    margin-left: -6px;
    border-top-color: #fff
}

.popover.bs-popover-auto[x-placement^=right],.popover.bs-popover-right {
    margin-left: 10px
}

.popover.bs-popover-auto[x-placement^=right] .arrow,.popover.bs-popover-right .arrow {
    left: 0
}

.popover.bs-popover-auto[x-placement^=right] .arrow::after,.popover.bs-popover-auto[x-placement^=right] .arrow::before,.popover.bs-popover-right .arrow::after,.popover.bs-popover-right .arrow::before {
    margin-top: -8px;
    border-left-width: 0
}

.popover.bs-popover-auto[x-placement^=right] .arrow::before,.popover.bs-popover-right .arrow::before {
    left: -11px;
    border-right-color: rgba(0,0,0,.25)
}

.popover.bs-popover-auto[x-placement^=right] .arrow::after,.popover.bs-popover-right .arrow::after {
    left: -10px;
    border-right-color: #fff
}

.popover.bottom {
    margin-top: 10px
}

.popover.bottom .arrow {
    top: 0
}

.popover.bottom .arrow::after,.popover.bottom .arrow::before {
    margin-left: -7px;
    border-top-width: 0
}

.popover.bottom .arrow::before {
    top: -11px;
    border-bottom-color: rgba(0,0,0,.25)
}

.popover.bottom .arrow::after {
    top: -10px;
    border-bottom-color: #fff
}

.popover.bottom .popover-header::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 20px;
    margin-left: -10px;
    content: "";
    border-bottom: 1px solid #f7f7f7
}

.popover.bs-popover-auto[x-placement^=left],.popover.bs-popover-left {
    margin-right: 10px
}

.popover.bs-popover-auto[x-placement^=left] .arrow,.popover.bs-popover-left .arrow {
    right: 0
}

.popover.bs-popover-auto[x-placement^=left] .arrow::after,.popover.bs-popover-auto[x-placement^=left] .arrow::before,.popover.bs-popover-left .arrow::after,.popover.bs-popover-left .arrow::before {
    margin-top: -8px;
    border-right-width: 0
}

.popover.bs-popover-auto[x-placement^=left] .arrow::before,.popover.bs-popover-left .arrow::before {
    right: -11px;
    border-left-color: rgba(0,0,0,.25)
}

.popover.bs-popover-auto[x-placement^=left] .arrow::after,.popover.bs-popover-left .arrow::after {
    right: -10px;
    border-left-color: #fff
}

.popover-header {
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 1rem;
    color: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.popover-header:empty {
    display: none
}

.popover-body {
  	margin: 0 !important;
    color: #9a9a9a !important;
  	text-decoration: underline !important;
}


/* popover end */

@media (max-width: 767px) {
  header nav .horizontal li a, header .nav-hamburger label{
  	padding: 10px 7px;
  }
}
