.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    background: #000;
    opacity: .2;
    z-index: 5;
    content: '';
  }

  &__image {
    background-image: url('https://img.youtube.com/vi/56Qd7zEpHac/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 1;
    transition: opacity 1s ease;
  }

  #hero-background-video {
    position: absolute;
  }
}

.hero-background_active {

  .hero-background__image {
    opacity: 0;
  }
}
