.hero {
  height: auto;
	position: relative;
  padding: 0 0 20%;

  $text-shadow: #000;

  &__headline {
    color: white;
    font-size: 6vw;
    font-weight: 600;
    width: 80%;
    line-height: 7vw;
    margin: 17vw auto 5vw;
  }

  &__container {
    text-align: center;
  }

  &__cta {
    background-color: $color-primary;
    font-family: $font-secondary;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 3px;
    border: 2px solid;
    padding: 1.3vw 3.4vw;
    color: $color-dark !important;
    //box-shadow: 0px 15px 25px 0px rgba($text-shadow, 0.4);
    transition: 0.3s all;

    &:hover {
      background-color: $color-dark !important;
      color: #fff !important;
      border-color: $color-dark !important;
      //box-shadow: 0px 10px 20px 0px rgba($text-shadow, 0.3);
    }
  }
}

@media (min-width: $screen-sm-min) {

  .hero {
    height: 50vw;
    padding: 0;

    &__headline {
      display: block;
      margin: 16vw auto 6vw;
  		font-size: 4vw;
  		line-height: 4.5vw;
  		width: 50vw;
    }

    &__cta {
      display: inline-block;
    }
  }
}

.cust-cta {
  padding: 8px 16px;
  box-shadow: none;
  margin-left: 40%;
}

.more-info {
  padding: 8px 16px;
  box-shadow: none;
}

.center-it {
  text-align: center;
}

@media (max-width: $screen-md-min) {
  .cust-cta {
    margin-left: 30%;
  }
}

.invert-bg-color {
  background-color: rgba(#fff,1) !important;
  border-color: $color-dark !important;
  color: $color-dark !important;

&:hover {
  background-color: $color-dark !important;
  border-color: $color-dark !important;
  color: #fff !important;
}
}

.rem-bg-color {
  background-color: rgba(255,255,255,0) !important;
  color: #fff !important;

  &:hover {
    background-color: rgba(#fff,0.8) !important;
    color: $color-dark !important;
    border-color: rgba(#fff,0.4) !important;
  }
}
