.hero {
  height: auto;
	position: relative;
  padding: 0 0 20%;

  $text-shadow: #000;

  &__headline {
    color: white;
    font-size: 6vw;
    font-weight: 600;
    width: 80%;
    line-height: 7vw;
    margin: 6vw auto;
    text-shadow: 0px 5px 10px rgba($text-shadow, 0.5);
  }

  &__container {
    text-align: center;
  }

  &__cta {
    background-color: $color-primary;
    font-family: $font-secondary;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 50px;
    padding: 1.3vw 3.4vw;
    color: white;
    box-shadow: 0px 15px 25px 0px rgba($text-shadow, 0.4);
    transition: 0.3s all;

    &:hover {
      background-color: $color-primary + 10;
      box-shadow: 0px 10px 20px 0px rgba($text-shadow, 0.3);
    }
  }
}

@media (min-width: $screen-sm-min) {

  .hero {
    height: 50vw;
    padding: 0;

    &__headline {
      display: block;
      margin: 10vw auto 5vw;
  		font-size: 4vw;
  		line-height: 4.5vw;
  		width: 50vw;
    }

    &__cta {
      display: inline-block;
    }
  }
}
