$order-card-radius: 10px;

.order {}

.order-title {
  padding-top: 30px;
  padding-bottom: 40px;
}

.order-row {
  @include make-row(30px);
}

.order-col {
  @include make-xs-column(12);
  @include make-md-column(3, 0px);
}

.order-card {
  text-decoration: none;
  margin-bottom: 40px;
}

.order-card-image {
  border-top-left-radius: $order-card-radius;
  border-top-right-radius: $order-card-radius;
  overflow: hidden;
  line-height: 0px;
}

.order-card-image img {
  width: 100%;
}

.order-card-text {
  padding: 30px;
  border-bottom-left-radius: $order-card-radius;
  border-bottom-right-radius: $order-card-radius;
  border: 1px solid $color-subtle;
}

.order-card-price {
  color: $color-secondary;
}

.order-card-text h3 span.attention {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  margin-left: 12px;
}
.order-card-text h3 span.preorder {
  position: absolute;
  margin-top: 7px;
  margin-left: 12px;
}

.order-card p {
  margin: 20px 0;
}

.fix_padding_h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.go_to_eu {
  text-align: center;
  margin-top: 0px;
  padding-bottom: 30px;
}
.go_to_eu a {
  text-decoration: none;
}

.store_go_to {
  text-align: left!important;
}
.fix_padding_store {
  margin-bottom: 0px;
}


@media (min-width: $screen-md-min) {
  .order-card-image,
  .order-card-text {
    border-radius: 0px;
  }

  .order-card-text {
    border-left: 0;
    padding: 30px;
    border-right: 1px solid $color-subtle;

    // h3 span.attention {
    //   position: absolute;
    //   display: inline-block;
    //   margin-top: 10px;
    //   margin-left: 12px;
    // }
  }

  .order-card.first .order-card-image {
    border-top-left-radius: $order-card-radius;
  }
  .order-card.first .order-card-text {
    border-bottom-left-radius: $order-card-radius;
    border-left: 1px solid $color-subtle;
  }

  .order-card.last .order-card-image {
    border-top-right-radius: $order-card-radius;
  }
  .order-card.last .order-card-text {
    border-bottom-right-radius: $order-card-radius;
    border-left: 0;
  }
  .order-card.order-single .order-card-text {
    border-left: 1px solid #F5F3EF;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
  .order-card-text {
    padding: 30px 20px;

    h3 {
      span.attention {
        position: relative;
        display: block;
        margin: 5px 0 0;
      }
    }
  }
  .height-ad-ew {
    height: 8.5%;
  }

  .order-attention-adj {
    margin-top: -12px;
  }
}

.adj-container {
  padding-left: 3px !important;
}

@media (max-width: $screen-md-min) {
  .adj-container {
    padding-left: 15px !important;
  }
}

@media (min-width: $screen-md-min) {
  .equalize {
    height: 34%;
  }
   .order-matrix-responsive {
     padding-left: 0px;
   }
}


.orange {
  color: $color-primary !important;
}

.order-options label {
  color: #D0021B;
    font-family: "Brandon Grotesque";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 800;
}


.order-options .left {
  margin-left: 5px;
}

.order-options .right {
  float:right;
}

input[type="radio"]:focus{
    outline:none;
}

.order-options input {
	-webkit-appearance: none;
	background-color: #0a0a0a;
	border: 1px solid #cacece;
	border-radius: 15px;
	display: inline-block;
	position: relative;
  margin: 6px 4px;
  float: left;
  padding: 5px;

&:checked {
	background-color: #000;
	color: #fff;
  padding: 8px;
  -webkit-margin-before: 2px;
}

&:hover  {
  cursor: pointer;
}
}

.order-margin-reduce {
  margin-top: -32px !important;
}

.visibility-non {
  visibility: hidden;
}
