.post {

}

.post-background {
  position: absolute;
  margin-top: 10px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.post-background-gradient {
  position: absolute;
  margin-top: 10px;
  width: 100%;
  height: 300px;
  background-color: rgba(255,255,255,1);
  background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.post-inner {
  padding-top: 80px;
  padding-bottom: 70px;

  a {
    text-decoration: none;
    color: $color-primary;
  }

  img {
    width: 100%;
  }
}

.post-title {
  color: $color-primary;
}

@media (min-width: $screen-md-min) {
  .post-inner img {
    width: 100%;

    &.medium {
      width: 70%;
    }

    &.small {
      width: 40%;
    }
  }
}
