.press {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.press ul {
  display: inline-block;
}

.press ul li {
  width: 33%;
  margin-right: 0 !important;
  margin-bottom: 20px;
}

.press ul li img {
  height: 35px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (min-width: $screen-md-min) {
  .press ul {
    padding-left: 30px
  }

  .press ul li {
    width: auto;
    margin-right: 30px !important;
    margin-bottom: 0;
  }

  .press ul li img {
    height: 50px;
  }
}
