.subhero {
  background: $color-secondary;
  text-align: center;
}

.subhero-text {
  padding-top: 35px;
  padding-bottom: 40px;
}

.subhero-text h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
}

.subhero-text a {
  color: rgba(white, .7);

  &:hover {
    color: white;
  }
}

.subhero-image {}

.subhero-image img {
  border: 8px solid white;
  height: 200px;
  position: relative;
  z-index: 3;
  margin-top: -20px;
  margin-bottom: -20px;
  box-shadow: 0px 6px 19px 4px rgba(0,0,0,0.10);
  transform: rotate(-4deg);
}


@media (min-width: $screen-md-min) {
  .subhero {
    text-align: left;
  }
}
