.subscribe-form {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto";
  @include cf;

  * {
    @include box-sizing(border-box);
  }

  .hs-form-required {
    display: none;
  }

  .hs-form {
    position: relative;
    @include cf;
    max-width: 440px;

    /* it's the input wrapper*/
    > div:first-child {
      width: 65%;
      float: left;
    }

    .hs_email {

      .input {

        input {
          margin: 0;
          padding: 0 10px;
          border: 0;
          width: 100%;
          height: 38px;
          outline: none;
          font-family: inherit;;
        }

      }
    }

    .hs-error-msgs.inputs-list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      font-size: 12px;
      line-height: 15px;
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
      color: #fff;
    }

    .hs-button.primary.large {
      float: left;
      width: 35%;
      margin: 0;
      font-family: "Roboto";
      border: 0;
      height: 38px;
      background: none;
      border: 2px solid #FFF;
      color: #FFF;
      cursor: pointer;
      min-width: 80px;
      outline: none;
    }

    .hs-button.primary.large:hover {
      background-color: #FFF;
      color: #f68f1f;
      border-left: 2px solid #f68f1f;
    }
  }

  &__title {
    font-family: inherit;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    opacity: 0.7;
    font-weight: normal;
    margin: 0 0 10px;
  }

  /* subnav center*/
  &.-subnav {
    width: 100%;
    max-width: none;
    margin: 30px auto 0;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  &.-subnav & {
    &__title {
      margin: 0 20px 0 0;
    }
    &__form {
      width: 300px;
    }
  }

  /* form left, icons right*/
  &.-left {
    position: relative;
    float: none;
  }

  &.-left & {
    &__title {
      text-align: left;
      margin-bottom: 10px;
    }
    &__form {
      width: 400px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .subscribe-form {
    float: right;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 3em;
    margin-top: 1em;
    margin-bottom: 3em;

    &__title {
      text-align: right;
      margin: 0 0 5px;
    }
  }
}
/* footer style */
._form_5 form {
margin: 0 !important;
    padding: 0 !important;
    text-align: right !important;
    width: 100% !important;
}

._form_5 ._form-label {
  display: none !important;
}

._form_5 ._field-wrapper {
  width: 65% !important;
}

._form_5 ._form-content {
  width: 100%;
}

._form_5 ._inline-style {
  float: none !important;
}
._form_5 ._inline-style ._button-wrapper, ._form_5 ._form_element {
  margin: 0 !important;
}
._form_5 ._error._below {
      top: 38px !important;
}
._form_5 ._form-thank-you {
      opacity: 0.7 !important;
}
@media (min-width: $screen-md-min) {
._form_5 ._form-thank-you {
      text-align: right !important;
      opacity: 0.7 !important;
}
}
/* revolution style */

._form_3 form {
margin: 0 !important;
    padding: 0 !important;
    text-align: right !important;
    width: 100% !important;
}

._form_3 ._form-label {
  display: none !important;
}

._form_3 ._field-wrapper {
  width: 65% !important;
}

._form_3 ._form-content {
  width: 100%;
}

._form_3 ._inline-style {
  float: none !important;
  display: block !important;
}
._form_3 ._inline-style ._button-wrapper, ._form_3 ._form_element {
  margin: 0 !important;
}
._form_3 ._error._below {
      top: 38px !important;
}
._form_3 ._form-thank-you {
  color: #f2c18b !important;
  background-color: #fff;
}

@media (max-width: 667px) and (min-width: 320px){
  ._form_3 ._inline-style {
    margin: -20px 0 0 0 !important;
}
}

@media (max-width: 667px) {
  ._form_3 ._form-thank-you {
    margin-top: 20px;
  }
}

/* blogpost template style */
._form_9 {
  max-width: 492px;
}
._form_9 form {
margin: 0 !important;
    padding: 0 !important;
    text-align: right !important;
    width: 100% !important;

}

._form_9 ._form-label {
  display: none !important;
}

._form_9 ._field-wrapper {
  width: 65% !important;
}

._form_9 ._form-content {
  width: 100%;
}

._form_9 ._inline-style {
  float: none !important;
  display: block !important;
}
._form_9 ._inline-style ._button-wrapper, ._form_9 ._form_element {
  margin: 0 !important;
}
._form_9 ._error._below {
      top: 38px !important;
}
._form_9 ._form-thank-you {
  color: #ffffff !important;
  background-color: #f68f32;
}

@media (max-width: 667px) and (min-width: 320px){
  ._form_9 ._inline-style {
    margin-top: -20px !important;
  }
}

@media (max-width: 667px) {
  ._form_9 {
    margin-top: 20px;
  }
}
