.team {
  background-color: #FBFAF9;
  padding-top: 50px;
}

.team .container {
  position: relative;
  overflow: none;
}

.team-text {
  margin-bottom: 80px;
}

.team-avatars {
  margin-bottom: 100px;
}

.team-member {
  position: relative;
  margin-bottom: 30px;
}

.team-member-inner {
  width: 100%;
  box-shadow: 0px 35px 80px 14px rgba(151,139,125,0.15);
  transition: 0.3s all;
}

.team-member p {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 10px 5px;
  line-height: 25px;
}


.team-member img {
  width: 100%;
  display: inherit;
}

@media (min-width: $screen-md-min) {
  .team-text {
    margin-bottom: 250px;
  }

  .team-avatars {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

  .team-member p {
    display: none;
  }

  .team-member-inner {
    position: absolute;
  }

  .team-member-inner:hover {
    margin-top: -20px;

    p {
      display: block;
    }
  }
}
