.testcube-testimonials {
  background-color: #FBFAF9;
  padding: 50px 0 100px;

  .value-sign {
    color: #E6E1D8;
  }

  &__list {
    p {
      max-width: 100%;
    }
  }


  &__gallery {
    img {
      max-width: 100%;
    }
  }
}
