#scroll-desk-container {
  float: right;
  padding: 0 20px;
}

#scroll-desk {
  position: relative;
  height: 450px;
  width: 250px;
  #desk-legs {
    position: absolute;
    bottom: 20px;
  }
  #desk-top {
    position: absolute;
    left: 46px;
    bottom: 50px;
    transition: 0.5s;
  }
  .note {
    position: absolute;
    bottom: 0;
    width: 250px;
    text-align: center;
    color: #999;
    font-size: 80%;
  }
}

#scroll-desk-control {
  text-align: center;
  padding-top: 10px;
  input {
    text-align: center;
  }
  a {
    color: #999;
  }
  a:hover {
    text-decoration: none;
    color: #888;
  }
}
