<div class="col-xs-12 order-matrix-responsive">
  <div class="container">
    <div class="row">
      <div class="one-by-two-margin"></div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/monitor-arms" | prepend: site.shopify_eu }}" ><img src="/images/dual_silver-laptop-monitor-back.jpg" alt="Best monitor arms for your desk; sleek monitor arms; monitor arms for stranding desks"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Jarvis Monitor Arms </h3>
            <h3 class="order-card-price" >€120</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">Transform your Jarvis standing desk into the ergonomic powerhouse you've always dreamt off.</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Build in cable management<br>
              Height range: <span >33,5 cm</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/monitor-arms" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/monitor-arms" | prepend: site.shopify_eu }}" ><img src="/images/pole-monitor-arms-dual.jpg" alt="Pole structured monitor arm low price perfect ergonomic set up"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Fully Monitor Arms</h3>
            <h3 class="order-card-price" >€95</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">Simple pole structure design for easy set-up</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Cable management<br>
              Height range: <span >33,5 cm</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/monitor-arms" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ "/js/order-img.js" | prepend: site.baseurl }}" defer></script>
