<div class="order">
  <div class="container adj-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="order" class="large alignc fix_padding_store">Design Standing Desks</h1>
      </div>
      {% include components/order-now-desks.html %}
    </div>
  </div>
</div>
<div class="order">
  <div class="container adj-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="order" class="large alignc fix_padding_store">Jaswig's Active Seating</h1>
      </div>
      {% include components/order-now-chairs.html %}
    </div>
  </div>
</div>
<div class="order">
  <div class="container adj-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="order" class="large alignc fix_padding_store">Jaswig's Move More Accessories</h1>
      </div>
      {% include components/order-now-accessories.html %}
    </div>
  </div>
</div>
