<div class="order-options" style="visibility: hidden;">
  <label class="left">Top</label><label class="right">Full Desk</label><br>
  <input type="radio" value="ONE_0798_1024x1024.jpg" style="background-color:#1c1b1a;"/>
  <input type="radio" value="ONE_0796_1024x1024.jpg" style="background-color:#6BC6B8;"/>
  <input type="radio" value="ONE_0797_1024x1024.jpg" style="background-color:#D0021B;"/>
  <input type="radio" value="ONE_3430_1024x1024.jpg" class="right" style="background-color:#fff;"/>
  <input type="radio" value="ONE_2721_1024x1024.jpg" class="right" style="background-color:#1c1b1a;"/>
  <br><br><span class="order-card-price">+20€</span><span class="right order-card-price">+50€</span><br>
</div>
