<div class="col-xs-12 order-matrix-responsive">
  <div class="container">
    <div class="row">
      <div class="order-col">
        <div class="order-card first">
          <div class="order-card-image">
            <a href="{{ "/products/standup-nomad-2-0" | prepend: site.shopify_eu }}" ><img src="/images/StandUp2.0_Hadisa.jpg" alt="Home office standing desk"></a>
          </div>
          <div class="order-card-text">
           <h3>StandUp Nomad 2.0 <span class="attention">NEW</span></h3>
            <h3 class="order-card-price order-attention-adj" >€350</h3>
              <div class="order-options">
                <label class="left">Color Top</label><label class="right">Color Desk</label><br>
                 <input type="radio" name="all" id="t1" value="color_BL.jpg" style="background-color:#000000;" data-price="€380" data-url="/standup-nomad-2-0?variant=35654216529"/> <!-- Black Top -->
                 <input type="radio" name="all" id="t2" value="color_WH.jpg" style="background-color:#ffffff;" data-price="€380" data-url="/standup-nomad-2-0?variant=35830350225"/> <!-- White Top -->
                 <input type="radio" name="all" id="t3" value="color_MG.jpg" style="background-color:#d0e4ea;" data-price="€380" data-url="/standup-nomad-2-0?variant=35830350289"/> <!-- Mint Green Top -->
                 <input type="radio" name="all" id="t4" value="color_OB.jpg" style="background-color:#80909d;" data-price="€380" data-url="/standup-nomad-2-0?variant=35830350353"/><!-- Ocean Blue Top -->
                 <input type="radio" name="all" id="t5" value="color_DG.jpg" style="background-color:#808080;" data-price="€380" data-url="/standup-nomad-2-0?variant=35830350417"/><!-- Dark Grey Top -->
                 <input type="radio" name="all" id="f3" value="ONE_3430_1024x1024.jpg" class="right" style="background-color:#ffffff;" data-price="€440" data-url="/standup-nomad-2-0?variant=35830350481"/><!-- Full White -->
                 <input type="radio" name="all" id="f2" value="ONE_2721_1024x1024.jpg" class="right" style="background-color:#1c1b1a;" data-price="€440" data-url="/standup-nomad-2-0?variant=35830350545"/><!-- Full Black -->
                 <input checked="checked" type="radio" name="all" id="f1" value="StandUp2.0_Hadisa.jpg" class="right" style="background-color:#e2d2c0;" data-price="€350" data-url="/standup-nomad-2-0?variant=35831485009"/><!-- Full Natural --><br>
              </div>
            <p class="equalize">Beautifully and simply designed to make you move. Stand in style!</p>
            <p><span class="attention">Ships on Thursdays</span></p>
            <p class="strong">
              Height ranges: <span >93 – 122 cm</span><br>
              Desktop size: <span >55 x 83 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/standup-nomad-2-0" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card">
          <div class="order-card-image">
            <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" ><img src="/images/standup/standup-nomad.jpg" alt="Design stand up desk"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">StandUp Nomad</h3>
            <h3 class="order-card-price" >€300</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">The compact desktop size allows you to take it with you: perfect for daily home activities.</p>
            <p><span class="attention">Ships on Thursdays</span></p>
            <p class="strong">
              Height ranges: <span >93 – 122 cm</span><br>
              Desktop size: <span >50 x 65 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card">
          <div class="order-card-image">
            <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" ><img src="/images/ScreenUp_2.0.jpg" alt="standing desk neck pain"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">ScreenUp <span class="attention">NEW</span></h3>
            <h3 class="order-card-price" >€55</h3>
            {% include components/order-options-invisible.html %}
            <p class="equalize">An easyly mounted add-on for the StandUp made for your computer screen and other accessories.</p>
            <p><span class="attention">Ships on Thursdays</span></p>
            <p class="strong">
              Surface: <span>30 x 20 cm </span><br>
              Add-on's height: <span>22cm</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" ><img src="/images/New_My_First_StandUp.jpg" alt="Children standing desk"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">My First StandUp</h3>
            <h3 class="order-card-price" >€275</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">This cute desk is your kids’ buddy for play or homework. After outgrowing you get a € 100 discount for a StandUp Nomad.</p>
            <p><span class="attention">Ships on Thursdays</span></p>
            <p class="strong">
              Height ranges: <span >69 - 89 cm</span><br>
              Desktop size: <span >45 x 58 cm</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card order-single first last">
          <div class="order-card-image">
            <a href="http://www.jaswig.be/meetup/" ><img src="/images/MeetUp77.jpg" alt="Standing meeting table"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">MeetUp</h3>
            <h3 class="order-card-price" >€1950 VAT excl</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">The most beautiful product to make your meetings more productive, efficient and creative!</p>
            <p><span class="attention">2 week delivery</span></p>
            <p class="strong">
              Dimensions: <span>210 x 110 cm</span><br>
              Height: <span> 111 cm</span><br>
              Ideal for <span> 6 to 8 people</span>
            </p><div class="center-it padd-bot">
            <a href="mailto:henri@jaswig.eu" class="more-info hero__cta cta btn" title="drop us a mail to ask for more info and pricing">Contact Us</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ "/js/order-img.js" | prepend: site.baseurl }}" defer></script>
