<div class="col-xs-12 order-matrix-responsive">
  <div class="container">
    <div class="row">
      <div class="order-col">
        <div class="order-card first">
          <div class="order-card-image">
            <a href="{{ "/products/tic-toc-chair" | prepend: site.shopify_eu }}" ><img src="/images/tictoc.jpg" alt="Active seating chair tic toc"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Tic-Toc</h3>
            <h3 class="order-card-price" >€270</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">Designed to encourage your body’s natural posture, rhythm and need for movement, Tic Toc is the everyday chair you actually want to sit in every day.
            <br><br></p>
            <p class="strong">
              Height ranges: <span >41 – 60 cm</span><br>
              Seating size: <span >29 x 32 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/tic-toc-chair" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" ><img src="/images/New_My_First_StandUp.jpg" alt="Children standing desk"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">My First StandUp</h3>
            <h3 class="order-card-price" >€345</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">This cute desk is your kids’ buddy for play or homework. After outgrowing you get a € 100 discount for a StandUp Nomad.</p>
            <p class="strong">
              Height ranges: <span >69 - 89 cm</span><br>
              Desktop size: <span >45 x 58 cm</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ "/js/order-img.js" | prepend: site.baseurl }}" defer></script>
