<div class="col-xs-12 order-matrix-responsive">
  <div class="container">
    <div class="row">
      <div class="one-by-two-margin"></div>
      <div class="order-col">
        <div class="order-card first">
          <div class="order-card-image">
            <a href="{{ "/products/hag-capisco-chair" | prepend: site.shopify_eu }}" ><img src="/images/20-Capisco/Black Capisco.png" alt="HAG Capisco standing desk chair, high end companion for your standing desk set up."></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Capisco</h3>
            <h3 class="order-card-price" >€1085</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">Fully cushioned chair that makes you move. Scandinavian design and quality.</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Height ranges: <span >55 – 78 cm</span><br>
              Seating size: <span >49 x 39 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/hag-capisco-chair" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card">
          <div class="order-card-image">
            <a href="{{ "/products/capisco-puls-adjustable-standing-desk-chair" | prepend: site.shopify_eu }}" ><img src="/images/19-Capisco-Puls/Capisco Puls.jpg" alt="Capisco Puls standing desk chair, perfect companion for your standing desk set up."></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Capisco Puls </h3>
            <h3 class="order-card-price" >€509</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">A chair that makes you move. Scandinavian design and quality.</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Height ranges: <span >55 – 78 cm</span><br>
              Seating size: <span >46 x 47 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/capisco-puls-adjustable-standing-desk-chair" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/tic-toc-chair" | prepend: site.shopify_eu }}" ><img src="/images/tictoc.jpg" alt="Erngonomic stool; Rocking chair; stool for standing desk; Rocking and active seating chair tic toc"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Tic Toc </h3>
            <h3 class="order-card-price" >€265</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">Designed to encourage your body’s natural posture, rhythm and need for movement.</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Height ranges: <span >41 – 60 cm</span><br>
              Seating size: <span >29 x 32 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/tic-toc-chair" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ "/js/order-img.js" | prepend: site.baseurl }}" defer></script>
