<div class="col-xs-12 order-matrix-responsive">
  <div class="container">
    <div class="row">
      <div class="order-col">
        <div class="order-card first">
          <div class="order-card-image">
            <a href="{{ "/products/standup-nomad-2-0" | prepend: site.shopify_eu }}" ><img src="/images/StandUp2.0_Hadisa.jpg" alt="Wooden Standing desk; Cheap standing desk, Beautiful home office and office standing desk"></a>
          </div>
          <div class="order-card-text">
           <h3>StandUp Nomad 2.0 </h3>
            <h3 class="order-card-price order-attention-adj" >€350</h3>
              <div class="order-options">
                <label class="left">Colour Top</label><br>
                 <input type="radio" name="all" id="t1" value="color_BL.jpg" style="background-color:#000000;" data-price="€380" data-url="/standup-nomad-2-0?variant=35654216529"/> <!-- Black Top -->
                 <input type="radio" name="all" id="t2" value="color_WH.jpg" style="background-color:#ffffff;" data-price="€380" data-url="/standup-nomad-2-0?variant=35830350225"/> <!-- White Top -->
                 <input type="radio" name="all" id="t3" value="color_MG.jpg" style="background-color:#d0e4ea;" data-price="€380" data-url="/standup-nomad-2-0?variant=35830350289"/> <!-- Mint Green Top -->
                 <input type="radio" name="all" id="t4" value="color_OB.jpg" style="background-color:#80909d;" data-price="€380" data-url="/standup-nomad-2-0?variant=35830350353"/><!-- Ocean Blue Top --><br>
              </div>
            <p class="equalize">Beautifully and simply designed to make you move. Stand in style!</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Height ranges: <span >93 – 122 cm</span><br>
              Desktop size: <span >55 x 83 cm</span>
            </p><div class="center-it">
            <a href="{{ "/products/standup-nomad-2-0" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card">
          <div class="order-card-image">
            <a href="{{ "/products/jarvis-adjustable-standing-desk" | prepend: site.shopify_eu }}" ><img src="/images/jarvis-bamboo-contour-black.jpg" alt="Beautiful electric standing desk. Best standing desk. Sharply priced standing desk. Easy to install and really durable standing desk."></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Jarvis </h3>
            <h3 class="order-card-price" >€640</h3>
            {% include components/order-options-invisible.html %}
            <p class="equalize">Probably the best electric standing desk in the world. Spacious, sustainable and versatile.</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Height ranges: <span >59 – 124 cm</span><br>
              Desktop size: <span >Multiple sizes</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/jarvis-adjustable-standing-desk" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card">
          <div class="order-card-image">
            <a href="{{ "/products/cooper-standing-desk-converter" | prepend: site.shopify_eu }}" ><img src="/images/Cooper-Standing-converter.jpg" alt="Standing desk converter; Best standing desk converter; easy adjustable in height spacious and beautiful standing desk converter"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Cooper </h3>
            <h3 class="order-card-price" >€330</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">Transforms what you already have and love into a standing revelation.</p>
            <p><span class="attention">Currently out of stock</span></p>
            <p class="strong">
              Height ranges: <span >15,9 – 56 cm</span><br>
              Desktop size: <span >50 x 90 cm</span>
            </p><div class="center-it padd-bot">
              <a href="{{ "/products/cooper-standing-desk-converter" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/jarvis-frame" | prepend: site.shopify_eu }}" ><img src="/images/18-Jarvis-frame/Black-frame-jarvis.jpeg" alt="Best electric standing desk frame. Stable versatile and beautiful standing desk frame."></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Jarvis Frame </h3>
            <h3 class="order-card-price" >€560</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">Versatile, stable and beautiful electric standing desk frame.</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Height ranges: <span >59 – 124 cm</span><br>
              <br>
            </p><div class="center-it">
            <a href="{{ "/products/jarvis-frame" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card first">
          <div class="order-card-image">
            <a href="http://www.jaswig.be/meetup/" ><img src="/images/MeetUp77.jpg" alt="Standing meeting table. Standup meetings."></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">MeetUp </h3>
            <h3 class="order-card-price" >€1950 VAT excl</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">The most beautiful product to make your meetings more productive, efficient and creative!</p>
            <p><span class="attention">Ships next business day</span></p>
            <p class="strong">
              Dimensions: <span>210 x 110 cm</span><br>
              Height: <span> 111 cm</span><br>
              Ideal for <span> 6 to 8 people</span>
            </p><div class="center-it padd-bot">
            <a href="mailto:henri@jaswig.eu" class="more-info hero__cta cta btn" title="drop us a mail to ask for more info and pricing">Contact Us</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" ><img src="/images/New_My_First_StandUp.jpg" alt="Children standing desk; children standup desk"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">My First StandUp</h3>
            <h3 class="order-card-price" >€275</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">This cute desk is your kids’ buddy for play or homework. After outgrowing you get a € 100 discount for a StandUp Nomad.</p>
            <p><span class="attention">Currently out of stock</span></p>
            <p class="strong">
              Height ranges: <span >69 - 89 cm</span><br>
              Desktop size: <span >45 x 58 cm</span><br><br>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ "/js/order-img.js" | prepend: site.baseurl }}" defer></script>
