<div class="col-xs-12 order-matrix-responsive">
  <div class="container">
    <div class="row">
      <div class="order-col">
        <div class="order-card first">
          <div class="order-card-image">
            <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" ><img src="/images/black_topo_mini.jpg" alt="Standing desk Mat"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Anti-Fatigue Mat</h3>
            <h3 class="order-card-price" >€80</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">Our feet, like our bodies, were meant to move. Topo’s nature-inspired peaks and valleys encourage you to move around, engaging your muscles.
            <br><br></p>
            <p class="strong">
              Size <span >49 – 64 cm</span><br><br>
            </p><div class="center-it">
            <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card">
          <div class="order-card-image">
            <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" ><img src="/images/tictoc-balance-board.jpg" alt="Balance board standing desk"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Tic Toc Balance Board</h3>
            <h3 class="order-card-price" >€70</h3>
              {% include components/order-options-invisible.html %}
            <p  class="equalize">While the chair adds balance and motion to the time you spend seated, The Tic Toc Stand brings the same quality of movement to your standing time.
            <br><br></p>
            <p class="strong">
              Size: <span >25 – 29 cm</span><br><br>
            </p><div class="center-it">
            <a href="{{ "/products/standup-nomad" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card">
          <div class="order-card-image">
            <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" ><img src="/images/ScreenUp_2.0.jpg" alt="standing desk neck pain"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">ScreenUp <span class="attention">NEW</span></h3>
            <h3 class="order-card-price" >€55</h3>
            {% include components/order-options-invisible.html %}
            <p class="equalize">An easyly mounted add-on for the StandUp made for your computer screen and other accessories.</p>
            <p class="strong">
              Surface: <span>30 x 20 cm </span><br>
              Add-on's height: <span>22cm</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/screenup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="order-col">
        <div class="order-card last">
          <div class="order-card-image">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" ><img src="/images/dual_silver-laptop-monitor-back.jpg" alt="Flexible heavy dutie monitor arms"></a>
          </div>
          <div class="order-card-text">
            <h3 class="height-ad-ew">Jarvis Monitor Arms</h3>
            <h3 class="order-card-price" >€160</h3>
              {% include components/order-options-invisible.html %}
            <p class="equalize">One sturdy base supports two branching arms. Put two monitors side by side, or add a laptop tray and put your laptop beside one monitor.</p>
            <p class="strong">
              Build in cable management<br>
              Height range: <span >33,5 cm</span>
            </p><div class="center-it padd-bot">
            <a href="{{ "/products/my-first-standup" | prepend: site.shopify_eu }}" class="more-info hero__cta cta btn" >Order now</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ "/js/order-img.js" | prepend: site.baseurl }}" defer></script>
