<div class="why-jaswig padding2">
  <div class="container">
    <div class="why-jaswig-text row relative-pos">
      <div class="col-xs-12 col-md-6 col-md-offset-0">
        <h1 class="large">Why Jaswig</h1>
        <p class="lead">
          Jaswig is company with the dream to make us <strong>more dynamic</strong> while working, learning or surfing around.
        </p>
        <p>
          Our products are simple, produced as locally as possible and by using environmentally cautious materials.
        </p>
      </div>
      <div class="col-xs-12 col-md-6 vertical-all-2">

        <div class="remove-padd-t2 why-jaswig__video">
  				<div class="shader-rem promo-player">
  					<button type="button" class="play-video" data-video="https://www.youtube.com/embed/3EEQb5EbbxI?rel=0&amp;autoplay=1&amp;showinfo=0">
  						<img src="/images/play.svg" alt="play button for video">
  					</button>
  				</div>
        </div>

      </div>
    </div>

      <div class="why-jaswig-text why-jaswig-cta row relative-pos" id="order">
        <div class="outgoing col-xs-4 col-sm-4">
          <div class="center-it">
          <a href="/atHome/" class="why-jaswig-padd more-info hero__cta cta btn">At Home</a>
          </div>
         </div>
         <div class="outgoing col-xs-4 col-sm-4">
           <div class="center-it">
           <a href="/atWork/" class="why-jaswig-padd more-info hero__cta cta btn">At Work</a>
           </div>
          </div>
          <div class="outgoing col-xs-4 col-sm-4">
            <div class="center-it">
            <a href="/atSchool/" class="why-jaswig-padd more-info hero__cta cta btn">At School</a>
            </div>
           </div>
      </div>
  </div>
</div>
