<div class="why-jaswig padding2">
  <div class="container">
    <div class="why-jaswig-text row relative-pos" id="order">
      <div class="outgoing col-xs-12 col-sm-4">
        <div class="center-it">
          <h2> Desks </h2>
        <a href="/desks/" class="why-jaswig-padd more-info hero__cta cta btn">Shop Now</a>
        </div>
       </div>
       <div class="outgoing col-xs-12 col-sm-4">
         <div class="center-it">
           <h2> Chairs </h2>
         <a href="/chairs/" class="why-jaswig-padd more-info hero__cta cta btn">Shop Now</a>
         </div>
        </div>
        <div class="outgoing col-xs-12 col-sm-4">
          <div class="center-it">
            <h2> Accessories </h2>
          <a href="/accessories/" class="why-jaswig-padd more-info hero__cta cta btn">Shop Now</a>
          </div>
         </div>
    </div>


    <div class="why-jaswig-text row relative-pos">
      <div class="col-xs-12 col-md-6 col-md-offset-0">
        <h1 class="large">Why Jaswig</h1>
        <p class="lead">
          Jaswig offers beautiful standing desks, chairs, and accessories that help you to be more active throughout your day. We want to help you revolutionize your office, home office, and classroom.
        </p>
        <p>
          We select high quality and environmentally conscious materials to help you create a healthy and durable environment!
        </p>
      </div>
      <div class="col-xs-12 col-md-6 vertical-all-2">

        <div class="remove-padd-t2 why-jaswig__video">
  				<div class="shader-rem promo-player">
  					<button type="button" class="play-video" data-video="https://www.youtube.com/embed/3EEQb5EbbxI?rel=0&amp;autoplay=1&amp;showinfo=0">
  						<img src="/images/play.svg" alt="play button for video">
  					</button>
  				</div>
        </div>
      </div>
    </div>
  </div>
</div>
