<div class="why-jaswig padding">
  <div class="container">
    <div class="why-jaswig-text row">
      <div class="col-xs-12 col-md-6 col-md-offset-0">
          <div class="row">
            <div class="col-xs-3">
          <img class="wd-m" src="/images/calories_securex-01.png" alt="1% winner">
        </div>
        <div class="col-xs-9">
        <ul><li><p class="ft-sz lead">  It’s so flexible it fits perfectly in every aspect of your life. </p></li></ul>
        </div>
      </div><br>
        <div class="row">
          <div class="col-xs-3">
        <img class="wd-m" src="/images/calories_securex-01.png" alt="1% winner">
      </div>
      <div class="col-xs-9">
      <ul><li><p class="ft-sz lead">  It’s so flexible it fits perfectly in every aspect of your life. </p></li></ul>
      </div>
      </div><br>
      <div class="row">
        <div class="col-xs-3">
      <img class="wd-m" src="/images/calories_securex-01.png" alt="1% winner">
    </div>
    <div class="col-xs-9">
    <ul><li><p class="ft-sz lead">  It’s so flexible it fits perfectly in every aspect of your life. </p></li></ul>
    </div>
    </div>
      </div>
      <div class="col-xs-12 col-md-6">

        <div class="remove-padd-t2 why-jaswig__video">
  				<div class="promo-player">
  					<button type="button" class="play-video" data-video="https://www.youtube.com/embed/3EEQb5EbbxI?rel=0&amp;autoplay=1&amp;showinfo=0">
  						<img src="/images/play.svg" alt="play button for video">
  					</button>
  				</div>
        </div>

      </div>
    </div>
  </div>
</div>
