<div class="why-jaswig padding">
  <div class="container">
    <div class="why-jaswig-text row relative-pos">
      <div class="col-xs-12 col-md-6 col-md-offset-0">
        <h2>Waarom meer rechtstaan</h2>
          <div class="row relative-pos">
            <div class="col-xs-3">
          <img class="wd-m" src="/images/jaswigmeetssecurex_icoon1-01.png" alt="1% winner">
        </div>
        <div class="col-xs-9">
        <p class="ft-sz lead just-marg">Rechtstaand werken verbrandt tot 50% meer calorieën</p>
        </div>
      </div><br>
        <div class="row relative-pos">
          <div class="col-xs-3">
        <img class="wd-m" src="/images/jaswigmeetsecurex_icoon2-01.png" alt="1% winner">
      </div>
      <div class="col-xs-9">
      <p class="ft-sz lead just-marg">Een hele dag neerzitten is nefast voor je rug. Doe je rug een plezier en wissel zoveel mogelijk af tussen zitten en staan. Bekijk <a href="http://www.vigez.be/files/voedingenbeweging/factsheetsedentairgedrag.pdf">hier het rapport over langdurig neerzitten</a> van het Vlaams instituut voor gezondheidspromotie en ziektepreventie.</p>
      </div>
      </div><br>
      <div class="row relative-pos">
        <div class="col-xs-3">
      <img class="wd-m" src="/images/jaswigmeetssecurex_icoon3-01.png" alt="1% winner">
    </div>
    <div class="col-xs-9">
    <p class="ft-sz lead just-marg">Iedereen van het gezin kan op zijn eigen ergonomische hoogte rechtstaand werken door het makkelijk in hoogte verstelbaar systeem.</p>
    </div>
    </div>
      </div>
      <div class="col-xs-12 col-md-6 vertical-all">

        <div class="remove-padd-t2 why-jaswig__video">
  				<div class="promo-player">
  					<button type="button" class="play-video" data-video="https://www.youtube.com/embed/3EEQb5EbbxI?rel=0&amp;autoplay=1&amp;showinfo=0">
  						<img src="/images/play.svg" alt="play button for video">
  					</button>
  				</div>
        </div>

      </div>
    </div>
  </div>
</div>
