<div class="why-jaswig padding">
  <div class="container">
    <div class="why-jaswig-text row">
      <div class="col-xs-12 col-md-6">
        <h1>Why The Jaswig Standup</h1>
        <p class="lead">
          The StandUp is a wooden standing desk that is <strong>easily height-adjustable</strong>, <strong>compact</strong> and made locally with <strong>environmentally-conscious materials</strong>.
        </p>
        <p>
          It’s so flexible it fits perfectly in every aspect of your life. They come flat-packed, lowering transport cost and pollution and leaving you with a fun
          <a href="https://www.instagram.com/p/BE9RBP0GnIq/" target="_blank">jigsaw puzzle</a>.
        </p>
      </div>
      <div class="col-xs-12 col-md-6">

        <div class="why-jaswig__video">
  				<div class="promo-player">
  					<button type="button" class="play-video" data-video="https://www.youtube.com/embed/3EEQb5EbbxI?rel=0&amp;autoplay=1&amp;showinfo=0">
  						<img src="/images/play.svg" alt="play button for video">
  					</button>
  				</div>
        </div>
        
      </div>
    </div>
  </div>
</div>
