<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% if page.modal-y %}
      {% include modal-function.html %}
    {% endif %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include cookies-warning.html %}
    
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2623414.js"></script>
    <!-- End of HubSpot Embed Code -->
    
  </body>

</html>
