footer ul {
  margin-bottom: 0;
}

.c-secondary {
  color: #6BC6B8 !important;
}

header ul.horizontal {
  margin-bottom: 0 !important;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("Brandon_reg.woff");
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("Brandon_reg.woff");
    font-weight: 300;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("Brandon_med.woff");
    font-weight: 500;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("Brandon_bld.woff");
    font-weight: 800;
}

.header-card {
  margin-right: 0 !important;
}

main.main-content {
  padding-bottom: 150px;
}

.jaswig-product-other {
  margin-top: 10px;
}

@media (min-width: 992px) {
  .jaswig-product-info {
    padding-left: 80px;
  }

  main.main-content {
    padding-top: 40px;
  }
}
